= render 'layouts/header'
= render 'layouts/breadcrumb'
%main.l-container.clearfix
  .main-content
    %section.mypage-user-icon
      = link_to '#' do
        %figure
          = image_tag 'member_photo_noimage_thumb.png', size: '60x60'
        %h2.bold
          kozitex
        .mypage-number
          %div
            評価
            %span.bold
              0
          %div
            出品数
            %span.bold
              0
    %section.mypage-tab-container.notice-todo
      %ul.mypage-tabs
        %li.active
          %h3
            %a{href: ''}
              お知らせ
        %li
          %h3
            %a{href: ''}
              やることリスト
      .tab-content
        %ul.mypage-item-list.tab-pane.active
          %li
            %a.mypage-item-link{href: ''}
              %figure
                = image_tag 'mercari_profile.png'
              .mypage-item-body
                .mypage-item-text
                  事務局から個別メッセージ「商品を買ってもらうには？「売り切れ」商品を参考にしよう！」
                %time
                  %i.fa.fa-check-circle.fa-lg
                  %span
                    6 時間前
              %i.fa.fa-angle-right
          %li
            %a.mypage-item-link{href: ''}
              %figure
                = image_tag 'mercari_profile.png'
              .mypage-item-body
                .mypage-item-text
                  3日後、¥600割引お得チケットの有効期限が切れます！タップして詳細を確認しましょう。
                %time
                  %i.fa.fa-check-circle.fa-lg
                  %span
                    9 時間前
              %i.fa.fa-angle-right
          %li
            %a.mypage-item-link{href: ''}
              %figure
                = image_tag 'mercari_profile.png'
              .mypage-item-body
                .mypage-item-text
                  事務局から個別メッセージ「【¥600分のお得チケット獲得！】欲しかったあの商品をお得にゲットしませんか？」
                %time
                  %i.fa.fa-check-circle.fa-lg
                  %span
                    13 時間前
              %i.fa.fa-angle-right
          %li
            %a.mypage-item-link{href: ''}
              %figure
                = image_tag 'mercari_profile.png'
              .mypage-item-body
                .mypage-item-text
                  【メルカリ安心への取り組み】商品代金は、取引完了まで事務局が大切にお預かりいたします
                %time
                  %i.fa.fa-check-circle.fa-lg
                  %span
                    1 日前
              %i.fa.fa-angle-right
          %li
            %a.mypage-item-link{href: ''}
              %figure
                = image_tag 'mercari_profile.png'
              .mypage-item-body
                .mypage-item-text
                  事務局から個別メッセージ「ログイン通知」
                %time
                  %i.fa.fa-check-circle.fa-lg
                  %span
                    2 日前
              %i.fa.fa-angle-right
          %li.mypage-go-list
            %a{href: ''}
              一覧を見る
        %ul.mypage-item-list.tab-pane
          %li.mypage-item-not-found
            現在、やることリストはありません
    %section.mypage-tab-container.purchase
      %h2.mypage-tab-head
        購入した商品
      %ul.mypage-tabs
        %li.active
          %h3
            %a{href: ''}
              取引中
        %li
          %h3
            %a{href: ''}
              過去の取引
      .tab-content
        %ul.mypage-item-list.tab-pane.active
          %li.mypage-item-not-found
            取引中の商品がありません
        %ul.mypage-item-list.tab-pane
          %li.mypage-item-not-found
            過去に取引した商品がありません
  = render 'sidebar'
= render 'layouts/footer'
