%header.signup-header-line
  %h1
    = image_tag '////www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?128691313', alt: 'mercari'
  .signup-header-line__progress
    .signup-header-line__progress__item
      .signup-header-line__progress__title.signup-header-line__progress--done 会員情報
      .signup-header-line__progress__dot.signup-header-line__progress--done
        = fa_icon "circle"
        .signup-header-line__progress__line.signup-header-line__progress--done
    .signup-header-line__progress__item
      .signup-header-line__progress__title.signup-header-line__progress--done 電話番号
      .signup-header-line__progress__dot.signup-header-line__progress--done
        = fa_icon "circle"
        .signup-header-line__progress__line
    .signup-header-line__progress__item
      .signup-header-line__progress__title 住所入力
      .signup-header-line__progress__dot
        = fa_icon "circle"
        .signup-header-line__progress__line
    .signup-header-line__progress__item
      .signup-header-line__progress__title 支払い方法
      .signup-header-line__progress__dot
        = fa_icon "circle"
        .signup-header-line__progress__line
    .signup-header-line__progress__item
      .signup-header-line__progress__title 完了
      .signup-header-line__progress__dot
        = fa_icon "circle"
%main.signup-main-regist
  %section.l-signup-container
    %h4.l-signup-head 電話番号の確認
    -# = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    %form.l-signup-inner
      .l-signup-content
        .form-group
          %label 携帯電話の番号
          -# = f.label :auth_tel, "携帯電話の番号"
          %input.input-default{type: "text", placeholder: "携帯電話の番号を入力"}
          -# = f.text_field :auth_tel, placeholder: "携帯電話の番号を入力", class: "input-default"
        .form-group
          %button.btn-default.btn-red{type: "submit"} 次へ進む
          -# = f.submit "次へ進む", class: "btn-default btn-red"
        .form-group
          %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
= render "layouts/single-footer"
