
//---------トップページ商品一覧---------

%tr
  %th 出品者
  %td
    = link_to "#" do
      = @product.user.nickname
    .right__rates
      = fa_icon('smile-o spin', class: "fa fa-good")
      %span.good 222

      = fa_icon('meh-o spin', class: "fa fa-nomal")
      %span.nomal 222

      = fa_icon('frown-o spin', class: "fa fa-bad")
      %span.bad 222

%tr
  %th カテゴリー
  %td
    = link_to "#" do
      = @large_category_name.name
      <br>
    = link_to "#" do
      = fa_icon('angle-right')
      - @middle_category_name ? @middle_category_name.name : ''
      <br>
    = link_to "#" do
      = fa_icon('angle-right')
      - @small_category_name ? @small_category_name.name : ''

%tr
  %th ブランド
  %td
    = link_to "#" do
      = @product.brand

%tr
  %th 商品のサイズ
  %td
    = @size_name.name

%tr
  %th 商品の状態
  %td
    = @product.condition.name

%tr
  %th 配送料の負担
  %td
    = @product.delivery_fee_pay.name

%tr
  %th 配送の方法
  %td
    = @product.delivery_method.name

%tr
  %th 配送元地域
  %td
    -# = @product.prefecture_id
    東京都

%tr
  %th 発送日の目安
  %td
    = @product.shipment_period.name
