%tr
  %th 出品者
  %td
    = link_to "#" do
      tanaka
    .right__rates
      = fa_icon ('grin-beam')
      %span.good 222

      =fa_icon ('grin')
      %span.nomal 222

      =fa_icon ('grimace')
      %span.bad 222

%tr
  %th カテゴリー
  %td
    = link_to "#" do
      もしかして<br>
    = link_to "#" do
      オラオラ<br>
    = link_to "#" do
      ですかーー

%tr
  %th ブランド
  %td
    = link_to "#" do
      スタープラチナ

%tr
  %th 商品のサイズ
  %td XL

%tr
  %th 商品の状態
  %td 目立ったキズはなし

%tr
  %th 配送料の負担
  %td 送料込み（出品者負担）

%tr
  %th 配送の方法
  %td 未定

%tr
  %th 配送元地域
  %td エジプト

%tr
  %th 発送日の目安
  %td 2~3日で発送
