%section.top-page-items-boxes
  %h3
    = link_to root_path do
      レディース 新着アイテム
  .top-page-items-boxes__content.clearfix
    .top-page-items-boxes__content__item-box
      = link_to root_path do
        .top-page-items-boxes__content__item-box__image
          = image_tag "item_sample_image.jpg"
        .top-page-items-boxes__content__item-box__text
          %h4 宇多田ヒカルのくま「ぼくはくま　くま　くま　くま〜」
          %h5 ¥ 2,100
          %p (税込)
    .top-page-items-boxes__content__item-box
      = link_to root_path do
        .top-page-items-boxes__content__item-box__image
          = image_tag "item_sample_image2.jpg"
        .top-page-items-boxes__content__item-box__text
          %h4 金箔入り高級梅酒飲んでみたいよねお酒飲みたいよね
          %h5 ¥ 3,500
          %p (税込)
    .top-page-items-boxes__content__item-box
      = link_to root_path do
        .top-page-items-boxes__content__item-box__image
          = image_tag "item_sample_image.jpg"
        .top-page-items-boxes__content__item-box__text
          %h4 宇多田ヒカルのくま「ぼくはくま　くま　くま　くま〜」
          %h5 ¥ 2,100
          %p (税込)
    .top-page-items-boxes__content__item-box
      = link_to root_path do
        .top-page-items-boxes__content__item-box__image
          = image_tag "item_sample_image2.jpg"
        .top-page-items-boxes__content__item-box__text
          %h4 金箔入り高級梅酒飲んでみたいよねお酒飲みたいよね
          %h5 ¥ 3,500
          %p (税込)
  .top-page-items-boxes__view-all
    = link_to root_path do
      %p すべての商品を見る
