
//---------トップページ商品一覧---------

.top-page-items-boxes__content__item-box
  = link_to "/products/#{product_id}" do
    .top-page-items-boxes__content__item-box__image
      = image_tag product_image[0].url
    .top-page-items-boxes__content__item-box__text
      %h4= product_name
      %h5= "¥" + product_price.to_s(:delimited)
      %p (税込)
