
    //---------ピックアップ（ブランド）ページ　ここから---------

%section.top-page-items-boxes
  %h3
    = link_to root_path do
      シャネル 新着アイテム
  .top-page-items-boxes__content.clearfix
    - @products_chanels.each do |p|
      .top-page-items-boxes__content__item-box
        = link_to root_path do
          .top-page-items-boxes__content__item-box__image
            = image_tag p.image.name1
          .top-page-items-boxes__content__item-box__text
            %h4= p.name
            %h5= "¥" + p.price.to_s(:delimited)
            %p (税込)
  .top-page-items-boxes__view-all
    = link_to root_path do
      %p すべての商品を見る

  %h3
    = link_to root_path do
      ルイ ヴィトン 新着アイテム
  .top-page-items-boxes__content.clearfix
    - @products_vitons.each do |p|
      .top-page-items-boxes__content__item-box
        = link_to root_path do
          .top-page-items-boxes__content__item-box__image
            = image_tag p.image.name1
          .top-page-items-boxes__content__item-box__text
            %h4= p.name
            %h5= "¥" + p.price.to_s(:delimited)
            %p (税込)
  .top-page-items-boxes__view-all
    = link_to root_path do
      %p すべての商品を見る

  %h3
    = link_to root_path do
      シュプリーム 新着アイテム
  .top-page-items-boxes__content.clearfix
    - @products_shups.each do |p|
      .top-page-items-boxes__content__item-box
        = link_to root_path do
          .top-page-items-boxes__content__item-box__image
            = image_tag p.image.name1
          .top-page-items-boxes__content__item-box__text
            %h4= p.name
            %h5= "¥" + p.price.to_s(:delimited)
            %p (税込)
  .top-page-items-boxes__view-all
    = link_to root_path do
      %p すべての商品を見る

  %h3
    = link_to root_path do
      ナイキ 新着アイテム
  .top-page-items-boxes__content.clearfix
    - @products_nikes.each do |p|
      .top-page-items-boxes__content__item-box
        = link_to root_path do
          .top-page-items-boxes__content__item-box__image
            = image_tag p.image.name1
          .top-page-items-boxes__content__item-box__text
            %h4= p.name
            %h5= "¥" + p.price.to_s(:delimited)
            %p (税込)
  .top-page-items-boxes__view-all
    = link_to root_path do
      %p すべての商品を見る
