-# = render partial: 'sell-header'
= render "layouts/single-header"
%main.sell-main
  %h2.sell-main__title
    商品の情報を入力
  = form_for @product, html: {class: 'dropzone', id: 'my-awesome-dropzone'}, url: products_path do |f|
    = render partial: 'sell-form', locals: {f: f}
  .modal
    .modal__body
      .modal__title
        出品が完了しました
      .modal__main
        .modal__text
          あなたが出品した商品は「出品した商品一覧」からいつでも見ることができます。
        = link_to '続けて出品する', new_product_path, class: 'modal__btn--next'
        .modal__link
          = link_to '商品ページへ行ってシェアする', '#', id: 'modal__share'
= render 'sell-footer'
