.single-container
  %header.single-header
    %h1
      = link_to '#' do
        = image_tag 'logo.svg'
  %main.single-main
    %section.l-single-container
      .sell-container
        .sell-container-inner
          %h2.l-single-head
            商品の情報を入力
          %form.sell-form
            .sell-upload-box
              %h3.sell-upload-head
                出品画像
                %span.form-require
                  必須
              %p
                最大10枚までアップロードできます
                .sell-dropbox-container.clearfix.state-image-number-10
                  .sell-upload-items-container
                    .sell-upload-items.have-item-0
                      %ul
                    .sell-upload-drop-box.have-item-0
                      %input.sell-upload-drop-file{multiple: '', name: 'image1', style: 'display: none;'}
                      %pre.visible-pc
                        ドラッグアンドドロップ
                        またはクリックしてファイルをアップロード
            .sell-content
              .form-group
                %label
                  商品名
                  %span.form-require
                    必須
                .div
                  %input.input-default{placeholder: '商品名（必須 40文字まで)'}
              .form-group
                %label
                  商品の説明
                  %span.form-require
                    必須
                %textarea.textarea-default{placeholder: '商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。'}
            .sell-content.clearfix
              %h3.sell-sub-head
                商品の詳細
              .sell-form-box
                .form-group
                  %label
                    カテゴリー
                    %span.form-require
                      必須
                  %div
                    .select-wrap
                      %select.select-default
                        %option{value: ''} ---
                        %option{value: '1'} レディース
                      %i.fa.fa-angle-down
                .form-group
                  %label
                    商品の状態
                    %span.form-require
                      必須
                  .select-wrap
                    %select.select-default
                      %option{value: ''} ---
                      %option{value: '1'} 新品、未使用
                    %i.fa.fa-angle-down

            .sell-content.clearfix
              %h3.sell-sub-head
                配送について
              = link_to '', { class: 'form-question', target: '_blank' } do
                ?
              .sell-form-box
                .form-group
                  %label
                    配送料の負担
                    %span.form-require
                      必須
                  .select-wrap
                    %select.select-default
                      %option{value: ''} ---
                      %option{value: '1'} レディース
                    %i.fa.fa-angle-down
                .form-group
                  %label
                    発送元の地域
                    %span.form-require
                      必須
                  .select-wrap
                    %select.select-default
                      %option{value: ''} ---
                      %option{value: '1'} 新品、未使用
                    %i.fa.fa-angle-down
                .form-group
                  %label
                    発送までの日数
                    %span.form-require
                      必須
                  .select-wrap
                    %select.select-default
                      %option{value: ''} ---
                      %option{value: '1'} 新品、未使用
                    %i.fa.fa-angle-down

            .sell-content.clearfix
              %h3.sell-sub-head
                販売価格(300〜9,999,999)
              = link_to '', { class: 'form-question', target: '_blank' } do
                ?
              .sell-form-box
                %ul.sell-price
                  %li.form-group
                    .clearfix
                      %label.l-left
                        価格
                        %span.form-require
                          必須
                      .l-right.sell-price-input
                        ¥
                        .div
                          %input.input-default{placeholder: '例）300'}
                  %li.clearfix
                    .l-left
                      販売手数料 (10%)
                    .l-right -
                  %li.clearfix.bold
                    .l-left
                      販売利益
                    .l-right -
            .modal{role: 'dialog', tabindex: '-1'}
              .modal-inner
            .sell-content.sell-btn-box
              %div
                %p
                  = link_to '', { target: '_blank' } do
                    禁止されている出品
                  、
                  = link_to '', { target: '_blank' } do
                    行為
                  を必ずご確認ください。
                %p
                  またブランド品でシリアルナンバー等がある場合はご記載ください。
                  = link_to '', { target: '_blank' } do
                    偽ブランドの販売
                  は犯罪であり処罰される可能性があります。
                %p
                  また、出品をもちまして
                  = link_to '' do
                    加盟店規約
                  に同意したことになります。
              %button.btn-default.btn-red{type: 'submit'}
                出品する
              = link_to '', class: 'btn-default btn-gray' do
                もどる
          .overlay

  %footer.single-footer
    %nav
      %ul.clearfix
        %li
          プライバシーポリシー
        %li
          メルカリ利用規約
        %li
          特定商取引に関する表記
    = link_to '#', class: 'single-footer-logo' do
      = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?1445690901', size: '80x65'
    %p
      %small
        ©︎ 2019 Mercari

