- if current_user
  = render 'layouts/header-logined'
-else
  = render 'layouts/header'

= render "layouts/breadcrumb"

%main.search
  .search__left
    .search__left-box
      .serch__left-box__sort
      = form_tag(search_products_path,:method => 'get') do
        = text_field_tag :search, '',class: "input-default", placeholder: "並び替え"
        
      = search_form_for(@search, url: search_products_path) do |f|
        .search__left-box__detail
          %h4 詳細検索
          .search__left-box__detail-form
            %label 
              = fa_icon('plus')
              %span キーワードを追加する  
              = f.search_field :name_cont, class: "input-default", placeholder: "例) 値下げ"

          .search__left-box__detail-form__group
            %label 
              = fa_icon('list')
              %span カテゴリを選択する
              = f.collection_select :large_category_eq, @large_categories, :id, :name, {prompt: 'すべて'}, class: "input-default"

          .search__left-box__detail-form__group
            %label 
              = fa_icon('tag')
              %span ブランド名から探す
              = f.search_field :brand_cont, class: "input-default", placeholder: "例) chanel"

          .search__left-box__detail-form__group
            %label 
              = fa_icon('arrows-alt')
              %span サイズを指定する
              = f.collection_select :size_id_eq, @sizes, :id, :name, {prompt: 'すべて'},  class: "input-default"

          .search__left-box__detail-form__group.search-price
            %label 
              = fa_icon('usd')
              %span 価格
              .div
                = f.number_field :price_gteq, class: "input-default input-default-mini", placeholder: "¥ Min"
                %span ~
                = f.number_field :price_lteq, class: "input-default input-default-mini", placeholder: "¥ Max"

          .search__left-box__detail-form__group
            %label 
              = fa_icon('star')
              %span 商品の状態
              .chechbox-form
                = f.collection_check_boxes :condition_id_in, @conditions, :id, :name do |b|
                  = b.label class: "checkbox-default" do
                    = b.check_box
                    = b.text

          .search__left-box__detail-form__group
            %label 
              = fa_icon('truck')
              %span 配送料の負担
              .chechbox-form
                = f.collection_check_boxes :delivery_fee_pay_id_in, @delivery_fee_pays, :id, :name do |b|
                  = b.label class: "checkbox-default" do
                    = b.check_box
                    = b.text

          -# .search__left-box__detail-form__group
          -#   %label 
          -#     = fa_icon('shopping-cart')
          -#     %span 販売状況
          -#     .chechbox-form
          -#       = f.collection_check_boxes :status_in, Product.all, :id, :status, class: "checkbox-default"

          .search__left-box__detail-form__group
            .actions
              = f.submit "検索", class: "btn-default-mini btn-red"
              = link_to 'クリア', request.path, class: "btn-default-mini btn-gray"

  .search__right
    %h5 の検索結果

    .search__right-result-number
      -# = will_paginate @search
    .search__right-content
      .search__right-content-item
        -# - @search.each do |p|
        -#   .search__right-content-item-box
        -#     = link_to "/products/#{p.id}" do
        -#       .search__right-content-item-box__image
        -#         = image_tag p.images[0].url
        -#       .search__right-content-item-box__text
        -#         %h6= p.name
        -#         %h7= "¥ " + p.price.to_s(:delimited)
        - if @result.any?
          - @result.each do |p|
            .search__right-content-item-box
              = link_to "/products/#{p.id}" do
                .search__right-content-item-box__image
                  = image_tag p.images[0].url
                .search__right-content-item-box__text
                  %h6= p.name
                  %h7= "¥ " + p.price.to_s(:delimited)



= render "layouts/footer"

= render 'layouts/exhibit-button'