= render "layouts/header"
= render "layouts/breadcrumb"

//---------商品詳細左側（写真）---------

%main.clearfix-g
  .product-detail
    %h1.product-name.bold
      = @product.name
    .product-detail__content.clear
      .product-photos
        .product-photo
          = image_tag @product.images, class: "product-photo"
        .product-photo-srades
          .product-photo-srade
            = image_tag @product.images, class: "product-photo-srade"
          .product-photo-srade
            = image_tag @product.images, class: "product-photo-srade"
          .product-photo-srade
            = image_tag @product.images, class: "product-photo-srade"
          .product-photo-srade
            = image_tag @product.images, class: "product-photo-srade"
          .product-photo-srade
            = image_tag @product.images, class: "product-photo-srade"
          .product-photo-srade
            = image_tag @product.images, class: "product-photo-srade"
          .product-photo-srade
            = image_tag @product.images, class: "product-photo-srade"
          .product-photo-srade
            = image_tag @product.images, class: "product-photo-srade"
          .product-photo-srade
            = image_tag @product.images, class: "product-photo-srade"
          .product-photo-srade
            = image_tag @product.images, class: "product-photo-srade"

      //---------商品詳細右側（詳細）---------

      %table.product-detail__table
        = render "products/product-detail-gen__table"

    //---------商品詳細その他---------

    .product-detail__price
      %span.product-price.bold= '¥ ' + @product.price.to_s(:delimited)
      %span.product-tax (税込)
      %span.product-spping-fee 送料込み
    .product-detail__btn.clear
      %button{type: "submit", class: "btn-default btn-red"} 購入画面に進む

    .product-detail__description
      %p.product-detail__description-text
        = @product.description

    .product-detail__like.clear
      .product-detail__like-left
        %button{value: "submit",class: "btn-default btn-nomal"}
          = fa_icon('heart-o')
          最高かよ！
        %button{value: "submit",class: "btn-default btn-nomal"}
          = fa_icon('flag-o')
          最悪な商品かよ！
      .product-detail__like-right
        = link_to "#", class: "product-detail__like-right__add" do
          = fa_icon("lock")
          %span あんしん・あんぜんへの取り組み
      .product-detail__like.clear

  //---------商品詳細のコメント---------

  .product-message
    = render 'products/product__comment-box'
    = form_for [@product, @comment] do |c|
      .product-message__content
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        = c.text_area :comment, class: 'textarea-default'
        = c.submit type: "submit", value: "コメントする", class: "btn-default btn-gray"

  %ul.product-nav-item.clear
    %li.product-nav-item__prev
      = link_to "ワンピース　花柄", "#", class: 'gen'
    %li.product-nav-item__next
      = link_to "Nintendo Switch", "#"

  //---------SNSリンク一覧---------

  .product-media
    %ul.product-media__box
      %li.sns-box
        .sns-box-facebook
          = link_to "https://ja-jp.facebook.com/", class: "facebook" do
            = fa_icon "facebook-official", class: "fa fa-facebook"
      %li.sns-box
        .sns-box-facebook
          = link_to "https://twitter.com/", class: "twitter" do
            = fa_icon "twitter", class: "fa fa-twitter"
      %li.sns-box
        .sns-box-facebook
          = link_to "https://google.co.jp", class: "google" do
            = fa_icon "google", class: "fa fa-google"

    //---------商品詳細のユーザーのその他の商品一覧---------

  .product-exhibit
    .product-exhibit__user
      %h2.product-exhibit__user__name.bold
        = link_to "#", class: "product-exhibit__user__name bold" do
          = "#{@product.user.nickname}さんの商品"
      .product-exhibit__user__item
        - @other_user_products.each do |p|
          = render partial: 'product-exhibit-gen__user', locals: {product_id: p.id, product_name: p.name, product_image: p.images, product_price: p.price}

    //---------商品詳細のブランドのその他の商品一覧---------

    .product-exhibit__other.clearfix
      %h2.product-exhibit__user__name.bold
        = link_to "#", class: "product-exhibit__user__name.bold" do
          = "#{@product.brand}の#{@product.small_category}その他の商品"
      .product-exhibit__user__item
        - @other_category_products.each do |p|
          = render partial: 'product-exhibit-gen__user', locals: {product_id: p.id, product_name: p.name, product_image: p.images, product_price: p.price}

.app_banner
%footer
