%header.header
%header.breadcrumb
%main.clearfix-g
  .product-detail
    %h1.item-name.bold 正規品！COACH【コーチ】★★大きめ ミニシグネチャー ショルダーバッグ
    .item-detail-content
      .item-photos
        .item-photo
          = image_tag 'user-bg.jpg', size: '300x300'
        .item-photo-srades
          .item-photo-srade
            = image_tag 'mercari_profile.png', size: '50x50'
          .item-photo-srade
            = image_tag 'mercari_profile.png', size: '50x50'
          .item-photo-srade
            = image_tag 'mercari_profile.png', size: '50x50'
          .item-photo-srade
            = image_tag 'mercari_profile.png', size: '50x50'
          .item-photo-srade
            = image_tag 'mercari_profile.png', size: '50x50'
          .item-photo-srade
            = image_tag 'mercari_profile.png', size: '50x50'
          .item-photo-srade
            = image_tag 'mercari_profile.png', size: '50x50'
          .item-photo-srade
            = image_tag 'mercari_profile.png', size: '50x50'
          .item-photo-srade
            = image_tag 'mercari_profile.png', size: '50x50'
          .item-photo-srade
            = image_tag 'mercari_profile.png', size: '50x50'
      .item-detail-table
        .tbody
          .th 出品者
          .td


    .item-detail-price
      %span.item-price.bold ¥1,800
      %span.item-tax (税込)
      %span.item-spping-fee 送料込み
    .item-detail-btn
      %button.btn-default.btn-red{:type => "submit"} 購入画面に進む

    .item-detail-description
      %p.item-detail-description-text ----------------------------------------------------------ご閲覧して頂きありがとうございます！

      //途中
      
.app_banner
%footer
