%header.header
  .header__conetnts
    .header__conetnts__upper
      .header__conetnts__upper__logo
        = link_to root_path do
          = image_tag "logo.svg"
      .header__conetnts__upper__form
        -# ///以下コントローラー設定後form_forに書き換え///
        .header__conetnts__upper__form__text-field
        -# = form_for [@product] do |f|
        -#   = f.text_field class: 'header__upper-content__form__text-field', placeholder: 'キーワードから探す'
        -# ///ここまで///
    .header__conetnts__lower.clearfix
      %nav.header__conetnts__lower__brand-and-category-search
        %ul
          %li
            %p カテゴリーから探す
          %li
            %p ブランドから探す
      .header__conetnts__lower__user-navigation
        %ul
          %li.header__conetnts__lower__user-navigation__mypage
            .header__conetnts__lower__user-navigation__mypage__image
              = image_tag "mypage-icon.jpg"
            %p マイページ
          %li.header__conetnts__lower__user-navigation__news
            = fa_icon('bell')
            %p お知らせ
          %li.header__conetnts__lower__user-navigation__todo-list
            = fa_icon('check')
            %p やることリスト
