<!DOCTYPE html>
<html>
  <head>
    <title>Mercari</title>
    <script type="text/javascript" src="https://js.pay.jp/"></script>
    <script type="text/javascript">Payjp.setPublicKey('pk_test_5edbd73f01ee222e374536d5');</script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
