<!DOCTYPE html>
<html>
  <head>
    <title>Mercari</title>
    <script type="text/javascript" src="https://js.pay.jp/"></script>
    <script type="text/javascript">Payjp.setPublicKey('pk_test_5edbd73f01ee222e374536d5');</script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="google-site-verification" content="S_1B5HE2MN73WOGkrowe0f_WmRxJk5wWUWAw_MT0zrQ" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
